# dependencies
node_modules/
clients/node_modules/
server/node_modules/

# env files
.env
clients/.env
server/.env

# build
clients/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
